<div class="row page-titles">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="javascript:void(0)">App</a></li>
    <li class="breadcrumb-item  active"><a href="/productos">Productos</a></li>
  </ol>
</div>

<div class="col-xl-12 col-lg-12">
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">Editar Producto</h4>
    </div>
    <div class="card-body">
      <div class="basic-form">
        <form action="/productos/edit/<%= producto.id %>" method="POST" enctype="multipart/form-data">

          <div class="row">
            <div class="mb-3 col-md-6">
              <label class="form-label">Tipo Producto</label>
              <select id="tipo" name="tipo" class="default-select form-control wide">
                <option value="1">Simple</option>
                <option value="2">Variado</option>
                <option value="3">Grupo</option>
                <option value="4">Servicio</option>
                <option value="5">Virtual</option>
              </select>
            </div>
            <div class="mb-3 col-md-6">
              <label class="form-label">Titulo</label>
              <input type="text" class="form-control" id="nombre" name="nombre" value="<%= producto.nombre %>" required>
            </div>
            <div class="mb-3 col-md-6">
              <label class="form-label">Descripcion del producto</label>
              <textarea class="form-control" rows="9" id="descripcion" name="descripcion" value="<%= producto.descripcion %>"></textarea>
            </div>
            <div class="mb-3 col-md-6">
              <label class="form-label">Codigo SKU</label>
              <input type="text" class="form-control" id="codigo" name="codigo" value="<%= producto.codigo %>" required>
            </div>
          </div>
          <div class="row">
            <div class="mb-3 col-md-6">
              <label class="form-label">Categoria</label>
              <select name="idcat" id="idcat" class="default-select form-control wide">
                <% categorias.forEach(categoria => { %>
                  <option value="<%= categoria.id %>" 
                          <%= categoria.id === producto.idcat ? 'selected' : '' %> >
                    <%= categoria.nombre %>
                  </option>
                <% }) %>
              </select>
            </div>
            <div class="mb-3 col-md-6">
              <label class="form-label">Marca</label>
              <select name="idmar" id="idmar" class="default-select form-control wide">
                <option value="0">Sin Marca</option>
                <% marcas.forEach(marca => { %>
                  <option value="<%= marca.id %>" 
                          <%= marca.id === producto.idmar ? 'selected' : '' %> >
                    <%= marca.nombre %>
                  </option>
                <% }) %>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="mb-3 col-md-6">
              <label class="form-label">Precio lista</label>
              <input type="text" class="form-control" id="precio" name="precio" value="<%= producto.precio %>" required>
            </div>
            <div class="mb-3 col-md-6">
              <label class="form-label">Precio oferta</label>
              <input type="text" class="form-control" id="preciorebaja" name="preciorebaja" value="<%= producto.preciorebaja %>">
            </div>
            <div class="mb-3 col-md-6">
              <label class="form-label">Stock</label>
              <input type="text" class="form-control" id="stock" name="stock" value="<%= producto.stock %>" required>
            </div>
            <div class="mb-3 col-md-6">
              <label class="form-label">% impuesto IGV</label>
              <input type="text" class="form-control" id="impuesto" name="impuesto" value="<%= producto.impuesto %>" required>
            </div>
          </div>
          <div class="row">
            <div class="mb-3 col-md-6">
              <label class="form-label">Subir imagen</label>
              <input class="form-control" type="file" id="imagen" name="imagen">
            </div>
            <div class="mb-3 col-md-6">
              <label class="form-label">Imagen del producto</label>
              <div id="lightgallery" class="row">
                <a href="<%= producto.imagen %>" data-exthumbimage="<%= producto.imagen %>" data-src="<%= producto.imagen %>" class="col-lg-3 col-md-6 mb-4">
                  <img src="<%= producto.imagen %>" class="rounded" alt="" style="width:100%;">
                </a>
              </div>
            </div>
          </div>

          <button type="submit" class="btn btn-primary">Actualizar Producto</button>
        </form>
      </div>
    </div>
  </div>
</div>





