<!-- <div class="row page-titles">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="javascript:void(0)">App</a></li>
    <li class="breadcrumb-item  active"><a href="javascript:void(0)">Productos</a></li>
  </ol>
</div> -->
<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <a href="/productos/create" class="btn btn-primary">Crear Nuevo Producto</a>
      </div>
    </div>
  </div>

</div>

<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Productos Listado</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table id="example3" class="display" style="min-width: 845px">
            <thead>
              <tr>
                <!-- <th class=" pe-3">
                  <div class="form-check custom-checkbox mx-2">
                    <input type="checkbox" class="form-check-input" id="checkAll">
                    <label class="form-check-label" for="checkAll"></label>
                  </div>
                </th> -->
                <th>Imagen</th>
                <th>tipo</th>
                <th>Codigo Sku</th>
                <th>Titulo</th>
                <!-- <th>Descripción</th> -->
                <th>Categoria</th>
                <!-- <th>Marca</th> -->
                <th>Precio</th>
                <!-- <th>Precio oferta</th> -->
                <th>Stock</th>
                <th>Impuestos</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <% productos.forEach(producto=> { %>
                <tr>
                  <!-- <td class="py-2">
                    <div class="form-check custom-checkbox mx-2">
                    <input type="checkbox" class="form-check-input" id="checkbox1">
                    <label class="form-check-label" for="checkbox1"></label>
                    </div>
                  </td> -->
                  <td><img class="rounded-circle" width="35" src="<%= producto.imagen %>" alt="<%= producto.nombre %>">
                  </td>
                  <td>
                    <%= producto.tipop %>
                  </td>
                  <td>
                    <%= producto.codigo %>
                  </td>
                  <td>
                    <%= producto.nombre %>
                  </td>
                  <!-- <td>
                    <%= producto.descripcion %>
                  </td> -->
                  <td>
                    <%= producto.categoria %>
                  </td>
                  <!-- <td>
                    <%= producto.idmar %>
                  </td> -->
                  <td>
                    <%= producto.precio %>
                  </td>
                  <!-- <td>
                    <%= producto.preciorebaja %>
                  </td> -->
                  <td>
                    <%= producto.stock %>
                  </td>
                  <td>
                    <%= producto.impuesto %>
                  </td>
                  <td>
                    <div class="d-flex">
                      <a href="/productos/edit/<%= producto.id %>" class="btn btn-primary shadow btn-xs sharp me-1"><i
                          class="fa fa-pencil-alt"></i></a>
                      <a href="/productos/delete/<%= producto.id %>" class="btn btn-danger shadow btn-xs sharp"><i
                          class="fa fa-trash"></i></a>
                    </div>
                  </td>
                </tr>
                <% }) %>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>