<!-- views/layout.ejs -->
<!DOCTYPE html>
<html lang="es">

<head>

    <!-- Title -->
    <title>App de Cotizaciones</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="DexignZone">
    <meta name="robots" content="">

    <meta name="keywords"
        content="accommodation, admin dashboard, admin template, apartment, booking, bootstrap 5, dinning, hostel, hotel booking, hotel template, motel, resort, restaurant, room">
    <meta name="description"
        content="Innap is a clean-coded, responsive HTML template that can be easily customised to fit the needs of various hotel booking and hotel template, booking, dinning, hostel, and other businesses">

    <meta property="og:title" content="Innap - Hotel Admin Dashboard Bootstrap Templates">
    <meta property="og:description"
        content="Innap is a clean-coded, responsive HTML template that can be easily customised to fit the needs of various hotel booking and hotel template, booking, dinning, hostel, and other businesses">
    <meta property="og:image" content="https://innap.dexignzone.com/xhtml/social-image.png">
    <meta name="format-detection" content="telephone=no">

    <!-- Mobile Specific -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Datatable -->
    <link href="/theme/vendor/datatables/css/jquery.dataTables.min.css" rel="stylesheet">

    <!-- Favicon icon -->
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.png">
    <link rel="stylesheet" href="/theme/vendor/chartist/css/chartist.min.css">
    <link href="/theme/vendor/jquery-nice-select/css/nice-select.css" rel="stylesheet">
    <link href="/theme/vendor/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <link href="/theme/vendor/lightgallery/css/lightgallery.min.css" rel="stylesheet">
    <link href="/theme/vendor/select2/css/select2.min.css" rel="stylesheet">
    <link href="/theme/vendor/jquery-smartwizard/dist/css/smart_wizard.min.css" rel="stylesheet">
    <link href="/theme/vendor/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <!-- Style css -->
    <link href="/theme/css/style.css" rel="stylesheet">

</head>

<body>
    <!--*******************
        Preloader start
        ********************-->
    <div id="preloader">
        <div class="waviy">
            <span style="--i:1">L</span>
            <span style="--i:2">o</span>
            <span style="--i:3">a</span>
            <span style="--i:4">d</span>
            <span style="--i:5">i</span>
            <span style="--i:6">n</span>
            <span style="--i:7">g</span>
            <span style="--i:8">.</span>
            <span style="--i:9">.</span>
            <span style="--i:10">.</span>
        </div>
    </div>
    <!--*******************
            Preloader end
    ********************-->

    <div id="main-wrapper">
        <!-- Contenido header -->
        <%- include('../partials/header') %>

            <!-- Contenido menu nav vertical -->
            <%- include('../partials/verticalmenu') %>

                <!--**********************************
            Content body start
            ***********************************-->
                <div class="content-body" style="padding-top: 0px;">
                    <div class="container-fluid">
                        <%- body %>
                    </div>
                </div>
                <!--**********************************
            Content body end
            ***********************************-->

                <!-- Contenido footer -->
                <%- include('../partials/footer') %>
    </div>

    <!-- Contenido footer -->
    <%- include('../partials/scripts') %>
</body>

</html>